:root {
    --primary_color:#bfb0ad;
    --secondary_color: #cbc3c1;
    --tertiary_color: #463e4b;
    --quartiary_color: #7a787d;
    --cinquieme_color: #ba7f61;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--secondary_color);
}
header{
    background-image: linear-gradient(
        to right, 
        var(--tertiary_color),
        var(--cinquieme_color));
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(
        to right, 
        var(--tertiary_color),
        var(--cinquieme_color));
    color: white;
}

.card-holder{
    display:flex;
    justify-content: space-between;
    padding:10px
}
.card{
    display:flex;
    justify-content: space-between;
    padding: 0;
}
.card-header{
    background-color: var(--cinquieme_color);
    color: var(--tertiary_color);
}